@using Microsoft.AspNetCore.Identity
@inject SignInManager<IdentityUser> signInManager

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Employee Leave Management</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/EmployeeLeaveManagement.styles.css" asp-append-version="true" />
</head>
<body>
    <header>
        <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow mb-3">
            <div class="container-fluid">
                <a class="navbar-brand" asp-area="" asp-controller="Home" asp-action="Index">Employee Leave Management</a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="navbar-collapse collapse d-sm-inline-flex justify-content-between">
                    <ul class="navbar-nav flex-grow-1">
                        @if (signInManager.IsSignedIn(User) && User.IsInRole("Admin"))
                        {
                            <li class="nav-item">
                                <a class="nav-link text-dark" asp-controller="Employees" asp-action="Index">Employees</a>
                            </li>
                            <li class="nav-item dropdown">
                                <a class="nav-link text-dark dropdown-toggle" href="#" id="navbarLinkAdmin" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                                    Admin
                                </a>
                                <ul class="dropdown-menu" aria-labelledby="navbarLinkAdmin">
                                    <li><a class="dropdown-item nav-link" asp-controller="LeaveAdjustmentEntries" asp-action="Index">Leave Entries</a></li>
                                    <li><a class="dropdown-item nav-link" asp-controller="LeaveBalances" asp-action="Index">Days Remaining</a></li>
                                    <li><a class="dropdown-item nav-link" asp-controller="DropdownSelects" asp-action="Index">Dropdown Add</a></li>
                                </ul>
                            </li>
                        }
                        <li class="nav-item dropdown">
                            <a class="nav-link text-dark dropdown-toggle" href="#" id="navbarLink" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                                Leave Applications
                            </a>
                            <ul class="dropdown-menu" aria-labelledby="navbarLink">
                                <li><a class=" dropdown-item nav-link" asp-controller="LeaveApplications" asp-action="Create">New</a></li>
                                @if (signInManager.IsSignedIn(User) && User.IsInRole("Admin"))
                                {
                                    <li><a class=" dropdown-item nav-link" asp-controller="LeaveApplications" asp-action="Index">Pending</a></li>
                                    <li><a class="dropdown-item nav-link" asp-controller="LeaveApplications" asp-action="ApprovedApplications">Approved</a></li>
                                    <li><a class="dropdown-item nav-link" asp-controller="LeaveApplications" asp-action="RejectedApplications">Rejected</a></li>
                                }
                            </ul>
                        </li>
                    </ul>
                    <div class="d-flex align-items-center">
                        @if (signInManager.IsSignedIn(User))
                        {
                            <div class="me-3 text-dark">
                                @User?.Identity?.Name
                            </div>

                            <a class="btn me-3 bg-light text-dark"
                               asp-area=""
                               asp-controller="Account"
                               asp-action="Logout">Logout</a>
                        }
                        else
                        { 
                            <a class="btn me-3 bg-light text-dark"
                               asp-area=""
                               asp-controller="Account"
                               asp-action="Login"
                                >Login</a>
                            <a class="btn me-3 bg-light text-dark"
                                asp-area = ""
                                asp-controller="Account"
                                asp-action="Register"
                                >Register</a>
                        }
                    </div>
                    @* <partial name="_LoginPartial" /> *@
                </div>
            </div>
        </nav>
    </header>
    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <footer class="border-top footer text-muted">
        <div class="container">
            &copy; 2025 - Employee Leave Management - <a asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
        </div>
    </footer>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
