@model EmployeeLeaveManagement.Models.DropdownOption

@{
    ViewData["Title"] = "Create";
}

<h1>Create</h1>

<h4>DropdownOption</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="DropdownSelectId" class="control-label"></label>
                <select asp-for="DropdownSelectId" class ="form-control" asp-items="ViewBag.DropdownSelectId"></select>
            </div>
            <div class="form-group">
                <label asp-for="Option" class="control-label"></label>
                <input asp-for="Option" class="form-control" />
                <span asp-validation-for="Option" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="SequenceId" class="control-label"></label>
                <input asp-for="SequenceId" class="form-control" />
                <span asp-validation-for="SequenceId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
